<!doctype html>
<html lang="en">
<head>

  {{! Document settings and metadata }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{meta_title}}</title>
  <meta name="designer" content="Daniel Monteiro" />
  <meta name="keywords" content="ghost, blog, {{meta_title}}" />

  {{! Robots and Viewport }}
  <meta name="HandheldFriendly" content="True" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{! OpenGraph for Facebook }}
  <meta property="og:title" content="{{meta_title}}" />
  <meta property="og:locale" content="en_US" />

  {{! Twitter Card }}
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="{{meta_title}}" />

  {{! Icons }}
  <link rel="icon" href="{{asset "favicon.ico"}}" />

  {{! Prerendering and Prefetching }}
  {{#if @blog.cover}}
  <link rel="prerender" href="{{@blog.cover}}" />
  <link rel="prefetch" href="{{@blog.cover}}" />
  {{/if}}
  <link rel="dns-prefetch" href="//fonts.googleapis.com/" />

  {{! Scripts and Stylesheets }}
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,900|Rubik:400,700|Space+Mono:400,700" rel="stylesheet">

  {{! Page-Specific Metadata }}
  {{{block "meta"}}}

  {{ghost_head}}

</head>
<body class="{{body_class}}">

  {{! The blog navigation links }}
  {{!navigation}}

  {{! The body of the page (index/post/page) goes here }}
  {{{body}}}

  <footer id="footer">
    <div>
      <p class="copyright"><span>Made by {{@blog.title}}.</span> <span>Powered by Ghost.</span></p>
    </div>
  </footer>

  {{! jQuery }}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  {{ghost_foot}}

  {{! Webpack assets }}
  <script type="text/javascript" src="{{asset "dist/bundle.js"}}"></script>

</body>
</html>
